//________________________________
//MASTER__________________________

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import "./1_Base/typo.scss";
@import "./2_Utils/mixins.scss";
@import "./2_Utils/variables.scss";
@import "./3_Layout/header.scss";
@import "./4_Composants/global.scss";
// @import "./4_Composants/";
// @import "./5_Pages/";
@import "./6_Themes/media.scss";
// @import "./7_Vendors/";


.mainContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/********CARDS********/

.cards {
    width: 30%;
    min-width: 350px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentLink {
    width: 100%;
}

.cards img, .imgPhoto img {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 100%;
    object-fit: cover;
}

h2 {
    margin: 15px;
    font-size: 2em;
    color: #D3573C;
}

.depiction{
    color: #000;
}

.price {
    color: #757575;
}





.photographerContent {
    display: flex;
    background-color: #FAFAFA;
}









































/* 

.cards {
    text-align: center;
    width: 250px;
    min-width: 30%;
    margin-bottom: 50px;
    border: solid 2px red;
}



.logo {
    text-decoration: none;
}



header {
}

h2 {
    padding-top: 30px;
    font-size: 2em;
    color: rgb(138, 0, 0);
}



.desrcipt {
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: #000;
}

a {
    font-size: 2em;
    color: rgb(138, 0, 0);
}

.local {
    color: rgb(138, 0, 0);
}

.price {
    color: rgb(151, 151, 151);
}

@media screen and (max-width: 550px) {
    header {
        flex-direction: column;
        align-items: center;
    }

} */