/*======================
---------- * -----------
========================*/
body {
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #911616;
}

span {
    display: block;
}

.hidden {
    display: none;
    background-color: #da8775;
    border-radius: 5px;
    height: 30px;
    width: 182px;
    margin: auto;
    text-align: center;
}

.hidden a {
    color: #000;
    font-family: sans-serif;
}

/*=====================
--------HEADER---------
=======================*/
.banner {
    display: flex;
    justify-content: space-between;
    width: 75%;
    left: 0;
    margin-bottom: 50px;
}

.logo img {
    width: 325px;
    margin-left: 50px;
}

nav {
    margin-top: auto;
    margin-bottom: auto;
}

.tagDesign {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}

.tag {
    border: solid 1px #C4C4C4;
    border-radius: 20px;
    padding: 0 8px;
    margin: 2px;
}

/*=====================
---------MAIN----------
=======================*/

.mainHeader {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    margin: 15px;
    font-size: 2em;
    color: #911616;
}

.mainContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/********CARDS********/

.cards {
    width: 30%;
    min-width: 350px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentLink {
    width: 100%;
}

.contentLink img {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 100%;
    object-fit: cover;
}

h2 {
    margin: 15px;
    font-size: 2em;
    color: #D3573C;
}

.depiction{
    color: #000;
}

.price {
    color: #757575;
}


@media screen and (max-width: 1024px){
    .banner {
        flex-direction: column;
    }
}





































/* 

.cards {
    text-align: center;
    width: 250px;
    min-width: 30%;
    margin-bottom: 50px;
    border: solid 2px red;
}



.logo {
    text-decoration: none;
}



header {
}

h2 {
    padding-top: 30px;
    font-size: 2em;
    color: rgb(138, 0, 0);
}



.descipt {
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: #000;
}

a {
    font-size: 2em;
    color: rgb(138, 0, 0);
}

.local {
    color: rgb(138, 0, 0);
}

.price {
    color: rgb(151, 151, 151);
}

@media screen and (max-width: 550px) {
    header {
        flex-direction: column;
        align-items: center;
    }

} */