//____________________________
//MEDIA_______________________

@media screen and (max-width: 850px) {
    header {
        grid-template-columns: auto 0 auto;
        padding: 25px 0px 25px 5px;
        .topNav {
            grid-row-start: 2;
            grid-column: 1/4;
            width: 90%;
            margin: auto;
            .tagDesign {
                width: auto;
                height: auto;
                font-size: 2.5vw;
            }
        }
        h1 {
            grid-row: 1;
            text-align: end;
        }
        .mainHeader {
            text-align: end;
            grid-column: 4;
            font-size: 2.3vw;
            padding-right: 10px;
        }
    }
}

