@media screen and (max-width: 550px) {
   .bground {
      .content {
         margin: 15px;
         .cross {
            right: 0;
            width: 25px;
            height: 25px;
         }
         .contactMe {
            font-size: 1.7em;
         }
         .titleName {
            font-size: 1.7em;
         }
      }
   }
}