
    @media screen and (max-width: 1024px) {

        //PHOTOGRAPHER_ZONE
        .divTitle {
            width: 100%;
            padding: 0;
            h2 {
                margin: 0;
            }
        }

        .contact {
            display: none;
        }

        .contact2 {
            display: block;
        }

        .album {
            justify-content: center;
        }

    }

    @media screen and (max-width: 775px) {


        //FILTER
        .filter {
            display: none;
        }

        .album {
            text-align: center;
        }
    }

    @media screen and (max-width: 550px) {

        .photoFrame {
            background-color: #fff;
            padding: 0;
            margin: 25px auto;

            .photographerFace {
                img {
                    width: 30vw;
                    height: 30vw;
                    border-radius: 30vw;
                }
            }

            .zoneTxt {
                width: 50%;

                .divTitle {
                    h2 {
                        margin: 0;
                        font-size: 7vw;
                    }
                }
                .descript {
                    font-size: 3vw;
                }
            }
        }

        .album {
            .albumPhoto {
                padding: 0;
                .divPhoto img {
                    width: 320px;
                    height: 320px;
                    margin: auto;
                }
                video {
                    width: 320px;
                    height: 320px;
                    margin: auto;                }
            }

            .subtitle {
                .blockLike .heart {
                    .heart img {
                        width: 100%
                    }
                }
            }
        }
    }
    // .bground {
    //     .content {
    //         .contactMe {
    //             font-size: 2em;
    //         }
    //     }
    // }
    // .modalBody {
    //     textarea {
    //         height: 10px;
    //     }
    // }