
    @media screen and (max-width: 1024px) {

        //PHOTOGRAPHER_ZONE
        .divTitle {
            width: 100%;
            padding: 0;
            h2 {
                margin: 0;
            }
            .contact {
                position: fixed;
                bottom: 5%;
                right: 50%;
                transform: translate(50%, -50%);
            }
        }
        .album {
            justify-content: center;
        }
        
    }

    @media screen and (max-width: 775px) {

        //FILTER
        .filter {
            display: none;
        }

        .album {
            text-align: center;
            .infoBox {
                display: none;
            }
        }
    }

    @media screen and (max-width: 850px) {

        header {
            margin: 25px auto;
            padding: 0;
            // margin: auto;
            .logo {
                grid-column: 1;
                grid-row: 1;
            }
            .topNav {
                grid-column: 1/4;
                grid-row: 2;
                margin-top: 25px;
                margin-bottom: 50px;
            }
        }
        main {
            margin-top: 0;
        }
    }

    @media screen and (max-width: 610px) {
        .photoFrame {
            background-color: #fff;
            padding: 0;
            margin: 25px auto;
            .photographerFace {
                img {
                    width: 30vw;
                    height: 30vw;
                    border-radius: 30vw;
                    margin-bottom: 50px;
                }
            }

            .zoneTxt {
                width: 50%;
                .divTitle {
                    h2 {
                        margin: 0;
                        font-size: 6vw;
                    }
                }
                .descript {
                    font-size: 3vw;
                }
            }
        }

        .album {
            .albumPhoto {
                padding: 0;
                .divPhoto img {
                    width: 320px;
                    height: 320px;
                    margin: auto;
                }
                video {
                    width: 320px;
                    height: 320px;
                    margin: auto;                
                }
            }

            .subtitle {
                .blockLike .heart {
                    .heart img {
                        width: 100%
                    }
                }
            }
        }

    }
    @media screen and (max-width: 400px) {
        header {
            margin: 25px 0;
        }
    }
