header {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 0 10px 0px 10px;
    width: 85%;
    margin: 20px auto;
    .logo {
        grid-area: logo;
        grid-column: 1;
        grid-row: 2;
        max-width: 260px;
        min-width: 180px;
        img {
            width: 100%;
        }
    }
    .topNav {
        grid-area: topNav;
        margin: auto;
        grid-column: 2;
        grid-row: 2;

    }
    h1 {
        grid-area: h1;
        grid-column: 3;
        grid-row: 2;
        max-width: 260px;
        margin: 20px 20px;
        color: $firebrick;
        font-size: 1.5em;
    }
}
.tagDesign {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__tag {
        border: solid 1px $lightGrey;
        border-radius: 20px;
        padding: 5px 8px;
        margin: 2px;
        color: $firebrick;
        cursor: pointer;
        transition: .3s;
        background-color: #fff;
        font-size: 1em;
    }
    &__tag:hover {
        box-shadow: $lightGrey 2px 2px 5px 2px;
    }
    &__tag2 {
        border: solid 1px $lightGrey;
        border-radius: 20px;
        padding: 5px 8px;
        margin: 2px;
        color: $firebrick;
        transition: .3s;
        background-color: #fff;
        font-size: 1em;
    }
}    

.selectedTag {
    background-color: $firebrick;
    color: #fff;
    box-shadow: $lightGrey 2px 2px 5px 2px;
    transition: .3s;
}




