//___________________________
//HEADER_____________________

.banner {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px 10px 30px 10px;
    .logo {
        grid-column: 1;
        max-width: 260px;
        min-width: 180px;
        img {
            width: 100%;
        }
    }
    .topNav {
        margin: auto;
        grid-column: 2;
    }
    .mainHeader {
        grid-column: 3;
        max-width: 260px;
        margin: auto 20px;
        color: $firebrick;
        h1 {
            font-size: 1.5em;
        }
    }
}
.tagDesign {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .tagDesign__tag {
        border: solid 1px $lightGrey;
        border-radius: 20px;
        padding: 0 8px;
        margin: 2px;
        color: $firebrick;
        cursor: pointer;
        transition: .3s;
    }
    .tagDesign__tag:hover {
        box-shadow: $lightGrey 2px 2px 5px 2px;
        transform: scale3d(2 2);
        transform: translateY(-4px);
    }
}    






