
.mainContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: .5s;
    z-index: 0;
}

.hidden {
    display: none;
    background-color: $salmon;
    border-radius: 5px;
    height: 30px;
    width: 182px;
    margin: auto;
    text-align: center;
}

.hidden a {
    color: #000;
    font-family: sans-serif;
}

.mainFlux {
    display: none;
}