
.mainContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/********CARDS********/

.cards {
    width: 30%;
    min-width: 350px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    h2 {
        margin: 15px;
        font-size: 2em;
        color: #D3573C;
        cursor: pointer;
    }
}

.cards img, .imgPhoto img {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}

.descript {
    cursor: pointer;
    line-height: 1.5em;
    .local {
        color: firebrick;
    }
    .depiction{
        color: #000;
    }
    .price {
        color: darkGrey;
    }
}

