.album {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 92%;
    margin: auto;
    .albumPhoto {
        padding: 35px;
        .divPhoto img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            border-radius: 5px;
            margin-bottom: 12px;
            box-shadow: 2px 2px 10px 2px $lightGrey;
            cursor: pointer;
            transition: .3s;
        }
        .divPhoto img:hover {
            transform: scale(1.03);
        }
    }
    .subtitle {
        display: flex;
        justify-content: space-between;
        font-size: 1.3em;
        color: $firebrick;
        .blockLike {
            display: flex;
            .like {
                margin-right: 5px;
            }
            .heart {
                width: 20px;
                height: 20px;
                img {
                    width: 400%;
                }
            }            
        }        
    }
}








