/********CARDS********/

//CARD
.cards, .card2 {
    position: relative;
    display: block;
    width: 27%;
    min-width: 350px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    transition: 0.3s;
    padding-bottom: 10px;
    padding-top: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 0;
    img, .imgPhoto img {
        width: 250px;
        height: 250px;
        margin: 10px;
        border-radius: 100%;
        object-fit: cover;
        transition: .3s;
    }
    .blockFlex {
        line-height: 1.7;
    }
}
.descript {
    line-height: 1.5em;
    .local {
        color: firebrick;
    }
    .depiction{
        color: #000;
    }
    .price {
        color: darkGrey;
    }
}

.cards:hover {
    border-radius: 5px;
    box-shadow: 2px 10px 20px $lightGrey;
    transform: scale(1.03);
}

.cards:hover img {
    transform: scale(1.05);
}

h2 {
    margin: auto;
    font-size: 2em;
    color: #D3573C;
}


.card2 {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 201;
    width: 90%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FAFAFA;
    border-radius: 7px;
    cursor: inherit;
    .blockFlex2 {
        line-height: 2;
        text-align: start;
        margin: auto 0;
    }
}

.contact-btn {
    position: absolute;
    top : 35%;
    left: 40%;
    transform: translate(-65%,-60%);
    display: none;
    width: 120px;
    height: 50px;
    background-color: $firebrick;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}    


