
.filter {
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    .sortBy, .select {
        font-size: 1.2em;
        margin-right: 40px;
    }
    .select {
        position: relative;
        width: 150px;
        height: 50px;
        background-color: $firebrick;
        border-radius: 5px;
        box-shadow: 2px 2px 12px $darkGrey;
        .choice {
            width: 25px;
            padding: 17px 15px;
            cursor: pointer;
            transition: .3s;
            a {
                color: #fff;
            }
        }
        hr {
            display: none;
            width: 80%;
            margin: auto;
        }
        .choice:hover {
            transform: translate(7px);
            transition: .3s;
        }
    }
    .arrowDown img, .arrowUp img {
        position: absolute;
        top: 35%;
        right: 12%;
        width: 10px;
        z-index: 10;
        cursor: pointer;
        transform: rotate(90deg);
        transition: .3s;
    }
    .arrowUp {
        display: none;
        position: absolute;
        top: 21%;
        right: 19%;
        transform: rotate(180deg);
    }
}
