
.filter {
    position: relative;
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    .sortBy, .select {
        font-size: 1.2em;
        margin-right: 40px;
    }
    .select, .choice {
        position: relative;
        width: 150px;
        height: 50px;
        background-color: $firebrick;
        border-radius: 5px;
        z-index: 4;
        .sortChoice {
            width: 25px;
            height: 50px;
            cursor: pointer;
            transition: .3s;
            z-index: 10;
            .selectBtn {
                border: none;
                text-align: start;
                margin-left: 10px;
                width: 100px;
                height: 50px;
                background-color: transparent;
                color: #fff;
                font-size: 0.85em;
                z-index: 12;
                cursor: pointer;
            }
        }
        // .split {
        //     display: none;
        //     width: 80%;
        //     margin: auto;
        // }
        .popChoice::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 100px;
            height: 1.5px;
            background-color: #fff;
            margin-left: 25px;
            margin-bottom: 17px;
        }
        .dateChoice::after {
            @extend .popChoice;
        }
        .sortChoice:hover {
            transform: translate(7px);
            transition: .5s;
        }
        .sortChoice:hover::after {
            transform: translate(-7px);
            transition: 1s;
        }
    }
    .select {
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 12px $darkGrey;
        transition: .3s;
    }
    .arrowDown img, .arrowUp img {
        position: absolute;
        top: 35%;
        right: 12%;
        width: 10px;
        z-index: 15;
        cursor: pointer;
        transform: rotate(90deg);
        transition: .3s;
    }
    .arrowUp {
        display: none;
        position: absolute;
        top: 66%;
        right: 19%;
        z-index: 14;
        transform: rotate(180deg);
    }
}


#popChoice {
    display: block;
    position: absolute;
    top: 0;
}

#dateChoice {
    display: none;
}

#titleChoice {
    display: none;
}