.bground {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #DB8876;
    width: 70%;
    max-width: 550px;
    max-height: 600px;
    margin: auto;
    border-radius: 3px;
    animation: formOpen .3s;
    .content {
        position: relative;
        display: flex;
        margin: 20px;
        margin-left: 30px;
        padding-top: 5px;
        .cross {
            position: absolute;
            right: -10px;
            top: 0;
            width: 50px;
            height: 40px;
            cursor: pointer;
            transform: scale(0.7);
        }
        .cross:before,
        .cross:after {
            position: absolute;
            left: 15px;
            content: "";
            height: 100%;
            width: 3px;
            background-color: #fff;
        }
        .cross:before {
            transform: rotate(45deg);
        }
        .cross:after {
            transform: rotate(-45deg);
        }
        .contactMe {
            font-size: 2.8em;
        }
        .titleName {
            font-size: 3em;
        }
    }
    .modalBody {
        text-align: start;
        .form-data {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            label {
                margin-bottom: 5px;
                font-size: 1.2em;
            }
            input, textarea {
                margin-bottom: 10px;
                border: none;
                border-radius: 3px;
                height: 30px;
                font-size: 1.2em;
                outline: none;
            }
            textarea {
                height: 130px;
                overflow-wrap: break-word;
                font-size: 19px;
            }
        }
    }
    .send {
        border: none;
        margin: 15px 35px;
        border-radius: 5px;
        width: 170px;
        height: 45px;
        background-color: #901C1C;
        color: #fff;
        font-size: 1em;
        cursor: pointer;
    }
}
