
main {
    // display: block;
    opacity: 1;
}

.photoFrame {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 200px;
    margin: 0px auto 50px;
    background-color: #FAFAFA;
    text-align: center;
}

.contact {
    border: none;
    height: 50px;
    border-radius: 3px;
    background-color: $firebrick;
    color: #fff;
    padding: 20px 10px;
    cursor: pointer;
}