main {
    opacity: 1;
    margin-top: 75px;
}

.photoFrame {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0px auto 50px;
    padding: 35px;
    background-color: #FAFAFA;

    .photographerFace img {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        margin: 10px;
        object-fit: cover;
        transition: .3s;
    }

    .zoneTxt {
        width: 70%;
        margin: auto 10px;
        .divTitle {
            display: flex;
            justify-content: flex-start;
            min-height: 40px;
            flex-wrap: nowrap;
            h2 {
                width: 63%;
                font-size: 4.3vw;
                white-space: nowrap;
                margin: 0;
            }
            .contact {
                border: none;
                width: 150px;
                margin: auto 0;
                height: 60px;
                border-radius: 5px;
                background-color: $firebrick;
                color: #fff;
                cursor: pointer;
                font-size: 1.2em;
                z-index: 2;
            }
        }

        .descript {
            line-height: 2.5em;
            margin-bottom: 15px;

            .local {
                font-size: 1.4em;
            }
        }

        .tagDesign2 {
            display: flex;
            &__tag2 {
                width: 100px;
            }
        }
    }
}

